<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.nickname, root_path, class: :greeting__link%>さん
      </div>
    <% end %>
    <div class="card__wrapper">
      <% @prototype.each do |prototype| %>
        <% if prototype.publish_id == 0 %>
        <div class="card">
          <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype) %>
          <div class="card__body">
            <%= link_to prototype.name, prototype_path(prototype), class: :card__title%>
            <p class="card__summary">
              <%= prototype.concept %>
            </p>
            <%= link_to "by #{prototype.user.nickname}", user_path(prototype.user), class: :card__user %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
